#Typescript
*.js
*.js.map
*.js.min
tsconfig.tsbuildinfo

#General
node_modules
bin
.DS_Store

#Security
.env
*.csr
*.key
*.pem
*.crt

#C/C++
*.c
*.cpp
*.exe
*.o
*.h

#Java
*.java
*.class

#Text
*.txt

#Php
*.php

#Bash/Terminal
*.cgi

